header {
  padding-top: 70px;
}
.logo img {
  width: 153px;
  height: 29px;
  float: left;
}

.logIn {
  float: right;
  padding-right: 104px;
}

.banner {
  position: relative;
  height: 25vh;
  background-size: cover;
  background-position: center;
  margin-top: 130px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(images/discBoard.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 7px;
  box-shadow: 1px 1px px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.64);
}

.banner h1 {
  padding-top: 50px;
  font-family: "Alex Brush", cursive;
  font-weight: 700;
}

form {
  margin-top: -20px;
}

.loading {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.allMessages{
  /* background-color: #30BCED; */
  color: #fff;
  border-radius: 7px;
  width: 80%;
  margin: 0 auto;
}
